<h1 style="font-size: 40px; margin-bottom: 0px;">10.2.a Looking at genome annotations</h1>

<hr style="margin-left: 0px; border: 0.25px solid; border-color: #000000; width: 700px;"></hr>

This notebook is just for us to take a look at the <code>.gtf</code> file since it's quite large, and Python will use a lot of memory. This way, we can close this notebook when we're done to free up the memory to use for the rest of the lesson.

In [1]:
import pandas as pd

Load in the GTF file as a pandas DataFrame.

In [2]:
hg19_refseq = pd.read_csv('~/shared/course/mcb201b-shared-readwrite/rna-feature/hg19-refseq.gtf',
                  delimiter='\t',
                  header=None,
                  names=['seqname', 'source', 'feature', 'start', 'end', 'score', 'strand', 'frame', 'attribute']
                 )

Let's take a look at the first 20 rows to see how the data is organized in GFF format.

In [3]:
hg19_refseq.head(20).style