<h1 style="font-size: 40px; margin-bottom: 0px;">Practice Set 1 - Syntax & Troubleshooting</h1>

<hr style="margin-left: 0px; border: 0.25px solid; border-color: #000000; width: 850px;"></hr>

These are part of a series of <strong><u>ungraded</u></strong> practice sets for those of you who would like additional practice.

<strong>Import the needed packages:</strong>
<ul>
    <li>numpy as np</li>
    <li>pandas as pd</li>
    <li>matplotlib.pyplot as plt</li>
    <li>seaborn as sns</li>
</ul>

<h1 style="font-size: 40px; margin-bottom: 0px;">Syntax practice</h1>

<hr style="margin-left: 0px; border: 0.25px solid; border-color: #000000; width: 400px;"></hr>

For this section, any blanks in the code will be marked with the following notation <mark style="background-color: #EEEEEE;"><strong>&UnderBar;*&UnderBar;</strong></mark>, so you know that is a blank area in the code that you will need to fill in correctly. The blank can contain one or more characters that are missing.

In [ ]:
#Create a list:
a = _*_0, 1, 2, 3, 4, 5_*_

In [ ]:
#Specify the below as a string
_*_potato_*_

In [ ]:
#Pull the first three rows from a DataFrame
df._*_[_*_ : _*_]

In [ ]:
#Assign 3.14 to the variable b
_*_ = _*_

In [ ]:
#Have Python output the result of a times b
_*_(a*b)

In [ ]:
#Create a function that outputs the deliciousness scale for a potato
_*_ potato_function(temperature, cook_time):
    deliciousnous_scale = _*_.sqrt(temperature) + cook_time**2
    _*_ deliciousness_scale

In [ ]:
#Run the potato_function and have Python remember the output

_*_ _*_ potato_function(430, 30)

In [ ]:
#Identify the data type for the output of the potato_function
_*_(_*_)

In [ ]:
#Ask Python if the potato is indeed delicious
#a deliciousness_scale greater than 50
deliciousness_scale _*_ 50

In [ ]:
#Create a tuple
c = _*_0, 1, 2, 3, 4_*_

In [ ]:
#Create a dictionary containing three key value pairs
d = _*_ 'taste' _*_ 'delicious', 'price' _*_ 'cheap', 'texture' _*_ 'crunchy' _*_

In [ ]:
#pull out a slice from list a
a_*_1_*_3_*_

In [ ]:
#output the intersect between two lists d and e

d = _*_1, 2, 3, 4, 5_*_
e = _*_2, 3, 5, 6, 7_*_

_*_(d _*_ e)

In [ ]:
#plot d on the x-axis and e on the y axis

_*_._*_(d _*_ e)

In [ ]:
#output the means of d and e
_*_(np._*_(d)_*_

_*_(np._*_(e)_*_

In [ ]:
#Create a DataFrame using d and label column as 'd'
#assign to variable f
f = _*_._*_(d, columns=['d'])

In [ ]:
#Add column e to DataFrame f and label column as 'e'
_*_[_*_] = e

In [ ]:
#Pull out column d and store in variable g
g = f_*_ _*_d_*_ _*_

In [ ]:
#Create a basic for loop by first setting up a list

list = _*_0,1,2,3,4,5,6_*_

for _*_ _*_ list:
    print(_*_)

In [ ]:
#create a pandas series from list above
series_1 = _*_._*_(list)

<h1 style="font-size: 40px; margin-bottom: 0px;">Troubleshooting practice</h1>

<hr style="margin-left: 0px; border: 0.25px solid; border-color: #000000; width: 500px;"></hr>

For this section, run the code cell, identify the error, and then troubleshoot the error so that the code cell gives the desired output that is noted in the bottom comment line of the cell.

Things may be missing or something incorrect may be added or swapped out, etc. There may be multiple ways of solving the problem.

In [ ]:
3028 + 7876

print(result)

#desired output is that print(result) will give the sum of 3028 and 7876.

In [ ]:
np.zeros(3, 2)

#desired output is a 3x2 array of zeros.

In [ ]:
def cake_weight(density, length, width)
    mass = density * length * width * height
    mass

#desired output is a function that outputs the mass

In [ ]:
np.random.randint[-20, 20, 5]

if generator > 0:
    then:
    print('vacuum')
    or else generator < 0:
    print('broom')

#desired output is:
#set up a random number generator
#have python print either 'vacuum' or 'broom'
#depending on what the integer than the random number generator made

In [ ]:
print('cupcake', 'muffin', sep=\n \n)

#desired output is that python prints out
#cupcake
#
#muffin
#separated by two line breaks

In [ ]:
x-values-1 = np.arange{0, 25, 1)
y-values-1 = random.normal(10, 1, 30)

plt.plot(y-values-1, x-values-1)

#output is a plot of x-values along x axis
#y-values along y axis

In [ ]:
test_df_1 = pd.DataFrame(x-values-1, y-values-1, columns='x', 'y')

#desired output is a dataframe with two columns
#columsn correspond to x values and y values and labeled x and y respectively

In [ ]:
fig, ax = plt.subplots(2, 3)

sns.lineplot(np.arange(0, 20, 1), axes=1)
sns.lineplot(np.arange(0, 40, 2), axes=2)
sns.lineplot(np.arange(0, 60, 3), axes=3)
sns.lineplot(np.arange(0, 80, 4), axes=4)
sns.lineplot(np.arange(0, 100, 5), axes=5)
sns.lineplot(np.arange(0, 120, 6), axes=6)

#desired output is a fig containing 6 subplots
#with each lineplot plotted to a different subplot

In [ ]:
group_1 = np.random.randint[100, 120, 20]
group_2 = np.random.randint[200, 220, 30]

print[mean[group_1, group_2]]

#desired output is to have python output
#the mean of group_1
#and the mean of group_2

In [ ]:
group_4 = np.random.uniform(1 to 100, 30)
group_5 = np.random.uniform(1 to 100, 30)

test_df_2 = pd.DataFrame(group_4, group_5)

plt.plot(test_df_2)

#desired output is:
#two arrays with random dataset of uniform distribution containing 30 elements ranging from 1 to 100
#a dataframe with two columns, one corresponding to each array
#group_4 plotted along the x axis and group_5 plotted along the y-axis